---
layout: layouts/base.njk
permalink: /
---

<h2>Home Page Version 01</h2>

<p>Hello! Welcome to the Eleventy + Netlify from scratch homepage. This is the second go at doing this.</p>
<ul>
    <li>input: index.njk (Nunjucks)</li>
    <li>output: index.html</li>
</ul>
<a href = "posts">posts</a>
<br>
<a href = "https://css-tricks.com/killer-features-of-nunjucks/">CSS Tricks | Killer Features of Nunjucks</a>
<br>
<a href = "https://www.11ty.dev/docs/plugins/">Eleventy Plugins | Navigation, Menu...</a>

